[submodule "mb"]
	path = mb
	url = https://github.com/MUmarAmanat/message-board
[submodule "pages"]
	path = pages
	url = https://github.com/MUmarAmanat/pages
[submodule "blog"]
	path = blog
	url = https://github.com/MUmarAmanat/blog-app
[submodule "newspaper"]
	path = newspaper
	url = https://github.com/MUmarAmanat/newspaper
[submodule "news"]
	path = news
	url = https://github.com/MUmarAmanat/newspaper
